/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;}

body{
    background:gray;
    margin: 10px 100px 20px 100px;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

header{
    background:#ebebeb;
    height:60px;
    padding:20px 0px 0px 0px;
    margin-bottom:5px;
}

#nav{
    background: #ebebeb;
    height:60px;
    padding:20px 0px 0px 0px;
    margin-bottom:10px;
}

#section{
    background:#ebebeb;
    width: 715px;
    height:200px;
    float:left;
    padding:25px 0px 0px 0px;
}

#article{
    background: #777;
    color: #ebebeb;
    float:left;
    height: 130px;
    width: 666px;
    margin-left: 25px;
    margin-top: 15px;
    padding:10px
    
}

#hn{
    background: #ebebeb;
    color:#777;
    font-weight:bold;
    margin:5px 20px 5px 20px;
    height:40px;
    
}

#p{
    background: #ebebeb;
    color:#777;
    margin:5px 20px 5px 20px;
    height: 40px;
}

#aside{
    background: #ebebeb;
    float:right;
    width:495px;
    height: 200px;
    overflow: hidden;
    padding:10px 0px 0px 0px;
}

footer{
    clear:both;
    height: 60px;
    background: #f0f0f0;
}

.clear{
    clear: both;
}